*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #1b1b32;

}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  font-family: lato, sans-serif;
}

.contenedor-principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}



